# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Docker
*.tar
*.bak


